include includes/head
<!--中间内容区-->
div.contentWrap
    div.container
        div.row 
            include includes/aside
            div.col-md-8 
                if articles.length!=0
                   each oneArticle in articles     
                       div.panel.panel-default
                         div.panel-heading.articleTitle  #{oneArticle.title}
                         div.panel-body
                             p.articleContent  #{oneArticle.content}
                             a.readAll.pull-right(href="/article/r/#{oneArticle.id}") 阅读全文
                         div.panel-footer.articleDate  #{oneArticle.date}
                              a.editArticle(href="/article/e/#{oneArticle.id}")  编辑
                              a.delArticle(href="/article/d/#{oneArticle.id}")  删除
                   ul.pager
                      li.previous.disabled
                         a(href="#") 上一页;
                      li.next
                         a(href="#") 下一页; 
                a.btn.btn-link(href="/article/w",role="button") 写新文章        
script(type="text/javascript",src="javascripts/main.js")
script(type="text/javascript",src="javascripts/calendar.js")